[submodule "_posts/open-problems"]
	path = _posts/open-problems
	url = https://github.com/act65/open-problems.git
[submodule "_posts/computational-cognitive-bias"]
	path = _posts/computational-cognitive-bias
	url = https://github.com/act65/computational-cognitive-bias.git
